<!-- 09. Html base -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fabian's To do App</title>
  <!-- 10. Add jquery and css -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/myassets/todolist.js"></script> -->
  <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <!-- 15. Vinculate the todo-list.js file  -->
  <script src="/assets/todo-list.js"></script>

  <link rel="stylesheet" href="assets/styles.css" type="text/css">
</head>

<body>
  <!-- 11. to do list body -->
  <h1>Fabian's To do list</h1>
  <h3>My first app deployed with Node.js</h3>
  <p>A big mention to Shaun... The Net Ninja. Thanks to your lessons!!</p>

  <div id="todo-table">
    <form method="post">
      <input type="text" name="item" placeholder="Add new item..." required />
      <button type="submit">Add Item</button>
    </form>
    <ul>
      <!-- 13. Getting the data dinamically -->
      <% for(var i=0; i < todos.length; i++){ %>
        <li><%= todos[i].item %></li>
      <% } %>
    </ul>
  </div>
</body>
</html>